body {
  width: 1440px;
  background-color: #dadada;
}

header {
  width: 100%;
}

.header__navbar {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #cccccc;
}

.navbar__toplogo {
  width: 90px;
  height: 90px;
  padding-top: 25px;
}

.navbar__toplinks {
  width: 120px;
  height: 50px;
  background: gray;
  border-radius: 10px;
}

.navbar__toplinks:hover {
  background: #53524e;
}

.navbar__topmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 50px;
  background: dimgray;
  border-radius: 10px;
  color: #f1f1f1;
  padding-right: 10px;
}

.navbar__topmore:hover {
  background: #2b2a27;
}

.navbar__topsearch {
  width: 280px;
  height: 55px;
  margin-left: -80px;
  background: #f1f1f1;
  border-radius: 10px;
}

.zover {
  z-index: 7;
}

.article1 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 694px 694px;
      grid-template-rows: 694px 694px;
}

.article1-center {
  position: absolute;
  top: 50px;
  left: 36%;
  width: 395px;
  height: 108px;
}

.article1-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50px;
  right: 50px;
  display: flex;
  width: 235px;
  height: 65px;
}

.article1-right-img {
  width: 65px;
  height: 65px;
  background: dimgray;
  border-radius: 50%;
}

.article1-right-btn {
  width: 150px;
  height: 40px;
  border-radius: 15px;
}

.article1-right-btn:hover {
  background: #6a6b69;
}

.article1-center-top {
  background: #f1f1f1;
  width: 100%;
  height: 58px;
}

.article1-center-bottom {
  width: 145px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: #f1f1f1;
}

.article1-item {
  position: relative;
  width: 100%;
  padding: 190px 20px 20px 70px;
  height: 694px;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
}

.image {
  float: left;
  width: 70px;
  height: 55px;
  border: 3px solid dimgray;
  border-radius: 10px;
}

.image-text {
  display: block;
  width: 100px;
  height: 20px;
  background: dimgray;
  font-size: 10px;
  clear: left;
  margin-left: 15px;
  margin-top: 12px;
}

.heading1 {
  display: block;
  width: 500px;
  height: 40px;
  background: dimgray;
  margin-left: 35px;
  margin-top: 5px;
}

.comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 35px;
  margin-top: 35px;
}

.comment1 {
  display: block;
  width: 100px;
  height: 40px;
  background-color: dimgray;
  margin-right: 40px;
}

.arrow {
  position: absolute;
  display: block;
  width: 50px;
  height: 40px;
  margin-top: 500px;
  bottom: 10px;
  left: 30px;
}

.white {
  color: dimgray;
}

.article2 {
  width: 100%;
  height: 1800px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 600px 600px 600px;
      grid-template-rows: 600px 600px 600px;
  margin-top: 50px;
}

.article2-item {
  position: relative;
  background: #4c4b4b;
  height: 600px;
}

.wideone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background: #4c4b4b;
  height: 600px;
}

.advertcontainer-image {
  display: block;
  margin: 50px auto 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #cccccc;
}

.advertcenter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advert-heading {
  width: 500px;
  height: 40px;
  margin-top: 46px;
  margin-bottom: 25px;
  background-color: #cccccc;
}

.toptext {
  width: 100px;
  height: 30px;
  background-color: #cccccc;
}

.toplink {
  margin: 15px 0 35px 0;
}

.toplink-text {
  display: block;
  width: 340px;
  height: 30px;
  background: dimgray;
  margin-bottom: 10px;
}

.middletext {
  display: block;
  width: 135px;
  height: 20px;
  background: #dadada;
}

.bottomtext {
  margin-top: 30px;
  width: 350px;
  height: 250px;
}

.bottomtext-item {
  display: inline-block;
  width: 330px;
  height: 30px;
  background: #dadada;
  margin-top: 10px;
}

.arrow2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: dimgray;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-arrow {
  color: lightgray;
}

.smashing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #adadad;
  border-radius: 10px;
  margin-top: 45px;
  width: 1287px;
  height: 650px;
  margin-left: 90px;
  background-color: #adadad;
}

.smashing-image {
  border: 2px solid #808080;
  border-radius: 50%;
  width: 184px;
  height: 184px;
  background-color: #696969;
}

.smashing-heading {
  border: 2px solid dimgray;
  width: 440px;
  height: 37px;
  margin-top: 70px;
  margin-bottom: 25px;
  background-color: dimgray;
}

.smashing-paragraph1 {
  border: 2px solid dimgray;
  width: 575px;
  height: 19px;
  margin-bottom: 10px;
  background-color: dimgray;
}

.smashing-paragraph2 {
  border: 2px solid dimgray;
  width: 591px;
  height: 19px;
  margin-top: 10px;
  background-color: dimgray;
}

.smashing-button {
  border: 2px solid dimgray;
  width: 310px;
  height: 59px;
  border-radius: 5px;
  margin-top: 60px;
  background-color: dimgray;
}

.smashing-paragraph3 {
  border: 2px solid dimgray;
  width: 216px;
  height: 19px;
  margin-top: 12px;
  background-color: dimgray;
}

.middle-link {
  display: block;
  width: 226px;
  height: 39px;
  margin: 0 auto;
  margin-top: 100px;
  border-bottom: 3px solid #4c4b4b;
}

.mid-link {
  width: 218px;
  height: 25px;
  float: right;
  text-align: right;
  margin-bottom: 100px;
}

.shipping-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #adadad;
  width: 100%;
  height: 950px;
  background-color: #adadad;
  clear: both;
}

.shipping-paragraph1 {
  border: 2px solid #808080;
  width: 240px;
  height: 19px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #696969;
}

.shipping-heading {
  border: 2px solid #808080;
  width: 240px;
  height: 27px;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: #696969;
}

.shipping-paragraph2 {
  border: 2px solid #808080;
  width: 591px;
  height: 19px;
  margin-top: 10px;
  background-color: #696969;
}

.shipping-button {
  border: 2px solid #808080;
  width: 310px;
  height: 59px;
  border-radius: 5px;
  margin-top: 60px;
  background-color: #696969;
}

.shipping-paragraph3 {
  border: 2px solid #808080;
  width: 216px;
  height: 19px;
  margin-top: 12px;
  background-color: #696969;
}

.shipping-image {
  border: 2px solid #808080;
  border-radius: 50%;
  background-color: #696969;
  width: 285px;
  height: 285px;
  margin-top: 100px;
}

.personimg {
  width: 250px;
  height: 250px;
  background: dimgray;
}

.personweek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 60px 70px 100px 40px;
}

.personweek .person-right {
  display: inline-block;
  margin-left: 40px;
  width: 855px;
}

.personweek .person-right .person-right-heading {
  display: inline-block;
  width: 213px;
  height: 20px;
  background: gray;
  margin-bottom: 40px;
}

.personweek .person-right .person-right-text {
  width: 850px;
  height: 16px;
  margin-bottom: 15px;
  background: gray;
}

.designbook {
  width: 100%;
  height: 395px;
  background: #cccccc;
  margin-top: 100px;
  margin-bottom: 85px;
}

.designbook .designbookright {
  float: right;
  width: 250px;
  height: 350px;
  background: gray;
  margin-right: 180px;
  margin-top: -400px;
}

.designbook .designbookleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
}

.designbook .designbookleft .designpar {
  margin-top: 10px;
  display: inline-block;
  width: 600px;
  height: 30px;
  background: gray;
}

.designbook .designbookleft .designlink {
  display: inline-block;
  height: 45px;
  width: 400px;
  background: gray;
  margin-top: 10px;
}

.designbook .designbookleft .designbtn {
  width: 350px;
  height: 66px;
  background: dimgray;
  border-radius: 10px;
  margin-top: 53px;
}

.community {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 360px 360px 360px;
      grid-template-rows: 360px 360px 360px;
  gap: 20px;
}

.community .community-item {
  background: #4c4b4b;
  width: 100%;
}

.community .community-item .community-item-right {
  margin-left: 20px;
}

.community .community-item .community-img {
  width: 95px;
  height: 95px;
  background: gray;
}

.community .community-item .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community .community-item .community-text {
  display: block;
  width: 256px;
  height: 25px;
  background: #adadad;
}

.community .community-item .community-heading {
  display: block;
  width: 180px;
  height: 30px;
  background: lightgray;
  margin-top: 20px;
}

.community .community-item .communitypar {
  display: block;
  width: 220px;
  height: 20px;
  background: gray;
  margin: 15px 0 0 160px;
}

.guide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 500px 980px;
      grid-template-rows: 500px 980px;
  width: 100%;
  height: 1500px;
  grid-gap: 20px;
  margin-bottom: 100px;
}

.javascript-guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #4c4b4b;
  width: 700px;
  height: 100%;
  border-radius: 15px;
  padding-left: 50px;
  background: #4c4b4b;
}

.newsletter-guide {
  height: 100%;
  width: 700px;
  border: 2px solid #4c4b4b;
  border-radius: 10px;
  padding-left: 50px;
  background: #4c4b4b;
}

.guide-content {
  height: 19px;
  width: 206px;
  border: 2px solid gray;
  margin-top: 10px;
  margin-bottom: 20px;
  background: gray;
}

.guide-heading {
  height: 90px;
  width: 265px;
  border: 2px solid dimgray;
  margin-bottom: 50px;
  background: dimgray;
}

.guide-paragraph {
  border: 2px solid gray;
  display: inline-block;
  width: 410px;
  height: 23px;
  margin-bottom: 5px;
  background: gray;
}

.guide-button {
  width: 409px;
  height: 65px;
  background: #cccccc;
  margin-top: 40px;
  margin-bottom: 40px;
}

.guide-image {
  display: block;
  background: #797a78;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 650px;
  background: #cccccc;
}

.footer-heading {
  display: block;
  background: gray;
  width: 357px;
  height: 22px;
  margin-top: 65px;
  margin-bottom: 50px;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: dimgray;
  width: 1270px;
  height: 189px;
}

.footer-links {
  display: block;
  background: lightgray;
  width: 148px;
  height: 25px;
  margin-left: 20px;
}

.footer-paragraph {
  display: block;
  width: 416px;
  height: 103px;
  margin-top: 84px;
  margin-bottom: 33px;
}

.fp {
  display: block;
  background: #4c4b4b;
  width: 393px;
  height: 21px;
  margin-bottom: 10px;
}

.finalbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: dimgray;
  width: 800px;
  height: 150px;
}

.finalbottomlinks {
  display: block;
  background: lightgray;
  width: 100px;
  height: 25px;
  margin-left: 20px;
}

.bgrone {
  background-color: #adadad;
}

.bgr2 {
  background-color: #cccccc;
}

.bgr3 {
  background-color: lightgray;
}

.bgr4 {
  background: #adadad;
}

.trans {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.trans:hover {
  -webkit-transform: none;
          transform: none;
}

.fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  background: #3b3636;
  color: aliceblue;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */