body {
  width: 1440px;
  background-color: rgb(243, 236, 227);
}
//HEADER PART WITH NAVBAR
header {
  width: 100%;
}

.header__navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: grayscale($color: #ece2e2);
}

.navbar__toplogo {
  width: 90px;
  height: 90px;
  padding-top: 25px;
}

.navbar__toplinks {
  width: 120px;
  height: 50px;
  background: cornsilk;
  border-radius: 10px;

  &:hover {
    background: rgb(83, 82, 78);
  }
}

.navbar__topmore {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  height: 50px;
  background: rgb(209, 199, 159);
  border-radius: 10px;
  color: white;
  padding-right: 10px;

  &:hover {
    background: rgb(43, 42, 39);
  }
}

.navbar__topsearch {
  width: 280px;
  height: 55px;
  margin-left: -80px;
  background: white;
  border-radius: 10px;
}

.zover {
  z-index: 7;
}

//Main Section

.article1{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.article1-item{
  width: 100%;
  padding: 20px;
  height: 694px;
  background-color: 
  #999966;
}
.image-container{
  display: flex;
  // justify-content: space-around;
  margin: 40px;

}
.image{
  float: left;
  width: 70px;
  height: 55px;
  border: 3px solid white;
  border-radius: 10px;
}
.image-text{
  display: block;
  width: 100px;
  height: 20px;
  border: 2px solid hotpink;
  font-size: 10px;
  clear: left;
  // padding: 20px;
  margin-left: 15px;
  margin-top: 12px;

}
.heading1{
  display: block;
  width: 500px;
  height: 40px;
  border: 1px solid violet;
  margin-left: 35px;
  margin-top: 5px;
}
.comment-section{
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 35px;
}
.comment1{
  display: block;
  width: 50px;
  height: 40px;
  border: 1px solid gold;
  margin-right: 30px;
}
.arrow{
  display: block;
  width: 50px;
  height: 40px;
  margin-top: 650px;
}