body {
  width: 1440px;
  background-color: #f3ece3;
  overflow-x: hidden;
}

header {
  width: 100%;
}

.header__navbar {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7e7e7;
}

.navbar__toplogo {
  width: 90px;
  height: 90px;
  padding-top: 25px;
}

.navbar__toplinks {
  width: 120px;
  height: 50px;
  background: cornsilk;
  border-radius: 10px;
}

.navbar__toplinks:hover {
  background: #53524e;
}

.navbar__topmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 50px;
  background: #d1c79f;
  border-radius: 10px;
  color: white;
  padding-right: 10px;
}

.navbar__topmore:hover {
  background: #2b2a27;
}

.navbar__topsearch {
  width: 280px;
  height: 55px;
  margin-left: -80px;
  background: white;
  border-radius: 10px;
}

.zover {
  z-index: 7;
}

.article1 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 694px 694px;
      grid-template-rows: 694px 694px;
}

.article1-center {
  position: absolute;
  top: 50px;
  left: 35%;
  width: 395px;
  height: 108px;
}

.article1-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50px;
  right: 50px;
  display: flex;
  width: 235px;
  height: 65px;
}

.article1-right-img {
  width: 65px;
  height: 65px;
  background: hotpink;
  border-radius: 15px;
}

.article1-right-btn {
  width: 150px;
  height: 40px;
  border-radius: 15px;
}

.article1-center-top {
  background: white;
  width: 100%;
  height: 58px;
}

.article1-center-bottom {
  width: 145px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: white;
}

.article1-item {
  position: relative;
  width: 100%;
  padding: 190px 20px 20px 20px;
  height: 694px;
  background-color: #999966;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
}

.image {
  float: left;
  width: 70px;
  height: 55px;
  border: 3px solid white;
  border-radius: 10px;
}

.image-text {
  display: block;
  width: 100px;
  height: 20px;
  border: 2px solid hotpink;
  font-size: 10px;
  clear: left;
  margin-left: 15px;
  margin-top: 12px;
}

.heading1 {
  display: block;
  width: 500px;
  height: 40px;
  border: 1px solid violet;
  margin-left: 35px;
  margin-top: 5px;
}

.comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 35px;
  margin-top: 35px;
}

.comment1 {
  display: block;
  width: 50px;
  height: 40px;
  border: 1px solid gold;
  margin-right: 30px;
}

.arrow {
  position: absolute;
  display: block;
  width: 50px;
  height: 40px;
  margin-top: 500px;
  bottom: 0;
  left: 0;
}

.article2 {
  width: 100%;
  height: 1800px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 600px 600px 600px;
      grid-template-rows: 600px 600px 600px;
}

.article2-item {
  position: relative;
  background: grey;
  height: 600px;
}

.wideone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background: #f1aeae;
  height: 600px;
}

.advertcontainer-image {
  display: block;
  margin: 50px auto 0 auto;
  width: 200px;
  height: 200px;
  border: 2px solid #808080;
  border-radius: 50%;
  background-color: #696969;
}

.advertcenter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advert-heading {
  border: 2px solid #808080;
  width: 500px;
  height: 40px;
  margin-top: 46px;
  margin-bottom: 25px;
  background-color: #696969;
}

.toptext {
  width: 100px;
  height: 30px;
  background-color: honeydew;
}

.toplink {
  margin: 15px 0 35px 0;
}

.toplink-text {
  display: block;
  width: 340px;
  height: 30px;
  background: #cae4ca;
  margin-bottom: 10px;
}

.middletext {
  display: block;
  width: 135px;
  height: 20px;
  background: #ddd8db;
}

.bottomtext {
  margin-top: 30px;
  width: 350px;
  height: 250px;
  background: #888586;
}

.bottomtext-item {
  display: inline-block;
  width: 330px;
  height: 30px;
  background: #636162;
}

.arrow2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #383135;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smashing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #a9a9a9;
  border-radius: 10px;
  margin-top: 45px;
  width: 1287px;
  height: 650px;
  margin-left: 90px;
  background-color: #a9a9a9;
}

.smashing-image {
  border: 2px solid #808080;
  border-radius: 50%;
  width: 184px;
  height: 184px;
  background-color: #696969;
}

.smashing-heading {
  border: 2px solid #808080;
  width: 440px;
  height: 37px;
  margin-top: 70px;
  margin-bottom: 25px;
  background-color: #696969;
}

.smashing-paragraph1 {
  border: 2px solid #808080;
  width: 575px;
  height: 19px;
  margin-bottom: 10px;
  background-color: #696969;
}

.smashing-paragraph2 {
  border: 2px solid #808080;
  width: 591px;
  height: 19px;
  margin-top: 10px;
  background-color: #696969;
}

.smashing-button {
  border: 2px solid #808080;
  width: 310px;
  height: 59px;
  border-radius: 5px;
  margin-top: 60px;
  background-color: #696969;
}

.smashing-paragraph3 {
  border: 2px solid #808080;
  width: 216px;
  height: 19px;
  margin-top: 12px;
  background-color: #696969;
}

.middle-link {
  display: block;
  width: 226px;
  height: 39px;
  margin: 0 auto;
  margin-top: 100px;
  border-bottom: 3px solid black;
}

.mid-link {
  border: 2px solid #808080;
  width: 218px;
  height: 25px;
  float: right;
  text-align: right;
  margin-bottom: 100px;
  background: #696969;
}

.shipping-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #a9a9a9;
  width: 100%;
  height: 950px;
  background-color: #a9a9a9;
  clear: both;
}

.shipping-paragraph1 {
  border: 2px solid #808080;
  width: 240px;
  height: 19px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #696969;
}

.shipping-heading {
  border: 2px solid #808080;
  width: 240px;
  height: 27px;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: #696969;
}

.shipping-paragraph2 {
  border: 2px solid #808080;
  width: 591px;
  height: 19px;
  margin-top: 10px;
  background-color: #696969;
}

.shipping-button {
  border: 2px solid #808080;
  width: 310px;
  height: 59px;
  border-radius: 5px;
  margin-top: 60px;
  background-color: #696969;
}

.shipping-paragraph3 {
  border: 2px solid #808080;
  width: 216px;
  height: 19px;
  margin-top: 12px;
  background-color: #696969;
}

.shipping-image {
  border: 2px solid #808080;
  border-radius: 50%;
  background-color: #696969;
  width: 285px;
  height: 285px;
  margin-top: 100px;
}

.personweek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 60px 70px 100px 40px;
}

.personweek .personimg {
  width: 250px;
  height: 250px;
  background: #adaca8;
}

.personweek .person-right {
  display: inline-block;
  margin-left: 40px;
  width: 855px;
}

.personweek .person-right .person-right-heading {
  display: inline-block;
  width: 213px;
  height: 20px;
  background: #474746;
  margin-bottom: 40px;
}

.personweek .person-right .person-right-text {
  width: 850px;
  height: 16px;
  margin-bottom: 15px;
  background: #4b4a45;
}

.community {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 360px 360px 360px;
      grid-template-rows: 360px 360px 360px;
  gap: 20px;
}

.community .community-item {
  background: #b6ad8b;
  width: 100%;
}

.community .community-item .community-item-right {
  margin-left: 20px;
}

.community .community-item .community-img {
  width: 95px;
  height: 95px;
  background: #a8a7a4;
}

.community .community-item .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community .community-item .community-text {
  display: block;
  width: 256px;
  height: 25px;
  background: #49463b;
}

.community .community-item .community-heading {
  display: block;
  width: 180px;
  height: 30px;
  background: #4d4939;
  margin-top: 20px;
}

.community .community-item .communitypar {
  display: block;
  width: 220px;
  height: 20px;
  background: #46433b;
  margin: 15px 0 0 160px;
}
/*# sourceMappingURL=style.css.map */