body {
  width: 1440px;
  background-color: rgb(243, 236, 227);
  overflow-x: hidden;
}

//HEADER PART WITH NAVBAR
header {
  width: 100%;
}

.header__navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: grayscale($color: #ece2e2);
}

.navbar__toplogo {
  width: 90px;
  height: 90px;
  padding-top: 25px;
}

.navbar__toplinks {
  width: 120px;
  height: 50px;
  background: cornsilk;
  border-radius: 10px;

  &:hover {
    background: rgb(83, 82, 78);
  }
}

.navbar__topmore {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  height: 50px;
  background: rgb(209, 199, 159);
  border-radius: 10px;
  color: white;
  padding-right: 10px;

  &:hover {
    background: rgb(43, 42, 39);
  }
}

.navbar__topsearch {
  width: 280px;
  height: 55px;
  margin-left: -80px;
  background: white;
  border-radius: 10px;
}

.zover {
  z-index: 7;
}

//Main Section

.article1 {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 694px 694px;
}

.article1-center {
  position: absolute;
  top: 50px;
  left: 36%;
  width: 395px;
  height: 108px;
}

.article1-right {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50px;
  right: 50px;
  display: flex;
  width: 235px;
  height: 65px;
}

.article1-right-img {
  width: 65px;
  height: 65px;
  background: rgb(110, 99, 105);
  border-radius: 50%;
}

.article1-right-btn {
  width: 150px;
  height: 40px;
  border-radius: 15px;

  &:hover {
    background: rgb(106, 107, 105);
  }
}

.article1-center-top {
  background: white;
  width: 100%;
  height: 58px;
}

.article1-center-bottom {
  width: 145px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: white;
}

.article1-item {
  position: relative;
  width: 100%;
  padding: 190px 20px 20px 70px;
  height: 694px;
}
.image-container {
  display: flex;
  margin: 40px;
}
.image {
  float: left;
  width: 70px;
  height: 55px;
  border: 3px solid white;
  border-radius: 10px;
}
.image-text {
  display: block;
  width: 100px;
  height: 20px;
  background: rgb(52, 53, 52);
  font-size: 10px;
  clear: left;
  margin-left: 15px;
  margin-top: 12px;
}
.heading1 {
  display: block;
  width: 500px;
  height: 40px;
  background: rgb(156, 158, 154);
  margin-left: 35px;
  margin-top: 5px;
}
.comment-section {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 35px;
}
.comment1 {
  display: block;
  width: 100px;
  height: 40px;
  background-color: rgb(221, 224, 214);
  margin-right: 40px;
}
.arrow {
  position: absolute;
  display: block;
  width: 50px;
  height: 40px;
  margin-top: 500px;
  bottom: 10px;
  left: 30px;
}

//ARTICLE2

.article2 {
  width: 100%;
  height: 1800px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 600px 600px 600px;
  margin-top: 50px;
}

.article2-item {
  position: relative;
  background: rgba(139, 131, 131, 0.603);
  height: 600px;
}

.wideone {
  grid-column-start: 1;
  grid-column-end: 3;
  background: rgb(76, 75, 75);
  height: 600px;
}

.advertcontainer-image {
  display: block;
  margin: 50px auto 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #696969;
}

.advertcenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advert-heading {
  width: 500px;
  height: 40px;
  margin-top: 46px;
  margin-bottom: 25px;
  background-color: #696969;
}

.toptext {
  width: 100px;
  height: 30px;
  background-color: rgb(74, 77, 74);
}

.toplink {
  margin: 15px 0 35px 0;
}
.toplink-text {
  display: block;
  width: 340px;
  height: 30px;
  background: rgb(70, 71, 70);
  margin-bottom: 10px;
}

.middletext {
  display: block;
  width: 135px;
  height: 20px;
  background: rgb(221, 216, 219);
}

.bottomtext {
  margin-top: 30px;
  width: 350px;
  height: 250px;
  //background: rgb(136, 133, 134);
}

.bottomtext-item {
  display: inline-block;
  width: 330px;
  height: 30px;
  background: rgb(99, 97, 98);
  margin-top: 10px;
}

.arrow2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgb(56, 49, 53);
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smashing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #a9a9a9;
  border-radius: 10px;
  margin-top: 45px;
  width: 1287px;
  height: 650px;
  margin-left: 90px;
  background-color: #a9a9a9;
}

.smashing-image {
  border: 2px solid #808080;
  border-radius: 50%;
  width: 184px;
  height: 184px;
  background-color: #696969;
}

.smashing-heading {
  border: 2px solid #808080;
  width: 440px;
  height: 37px;
  margin-top: 70px;
  margin-bottom: 25px;
  background-color: #696969;
}

.smashing-paragraph1 {
  border: 2px solid #808080;
  width: 575px;
  height: 19px;
  margin-bottom: 10px;
  background-color: #696969;
}
.smashing-paragraph2 {
  border: 2px solid #808080;
  width: 591px;
  height: 19px;
  margin-top: 10px;
  background-color: #696969;
}
.smashing-button {
  border: 2px solid #808080;
  width: 310px;
  height: 59px;
  border-radius: 5px;
  margin-top: 60px;
  background-color: #696969;
}
.smashing-paragraph3 {
  border: 2px solid #808080;
  width: 216px;
  height: 19px;
  margin-top: 12px;
  background-color: #696969;
}
.middle-link {
  display: block;
  width: 226px;
  height: 39px;
  margin: 0 auto;
  margin-top: 100px;
  border-bottom: 3px solid black;
}
.mid-link {
  width: 218px;
  height: 25px;
  float: right;
  text-align: right;
  margin-bottom: 100px;
}

.shipping-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #a9a9a9;
  width: 100%;
  height: 950px;
  background-color: #a9a9a9;
  clear: both;
}

.shipping-paragraph1 {
  border: 2px solid #808080;
  width: 240px;
  height: 19px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #696969;
}
.shipping-heading {
  border: 2px solid #808080;
  width: 240px;
  height: 27px;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: #696969;
}
.shipping-paragraph2 {
  border: 2px solid #808080;
  width: 591px;
  height: 19px;
  margin-top: 10px;
  background-color: #696969;
}
.shipping-button {
  border: 2px solid #808080;
  width: 310px;
  height: 59px;
  border-radius: 5px;
  margin-top: 60px;
  background-color: #696969;
}
.shipping-paragraph3 {
  border: 2px solid #808080;
  width: 216px;
  height: 19px;
  margin-top: 12px;
  background-color: #696969;
}
.shipping-image {
  border: 2px solid #808080;
  border-radius: 50%;
  background-color: #696969;
  width: 285px;
  height: 285px;
  margin-top: 100px;
}

.personimg {
  width: 250px;
  height: 250px;
  background: rgb(173, 172, 168);
}

.personweek {
  display: flex;
  width: 100%;
  margin: 60px 70px 100px 40px;

  .person-right {
    display: inline-block;
    margin-left: 40px;
    width: 855px;

    .person-right-heading {
      display: inline-block;
      width: 213px;
      height: 20px;
      background: rgb(71, 71, 70);
      margin-bottom: 40px;
    }

    .person-right-text {
      width: 850px;
      height: 16px;
      margin-bottom: 15px;
      background: rgb(75, 74, 69);
    }
  }
}

.designbook {
  width: 100%;
  height: 395px;
  background: rgb(122, 124, 121);
  margin-top: 100px;
  margin-bottom: 85px;

  .designbookright {
    float: right;
    width: 250px;
    height: 350px;
    background: rgb(53, 52, 52);
    margin-right: 180px;
    margin-top: -400px;
  }

  .designbookleft {
    display: flex;
    flex-direction: column;
    padding-left: 50px;

    .designpar {
      margin-top: 10px;
      display: inline-block;
      width: 600px;
      height: 30px;
      background: rgb(156, 155, 155);
    }

    .designlink {
      display: inline-block;
      height: 45px;
      width: 400px;
      background: rgb(54, 50, 50);
      margin-top: 10px;
    }

    .designbtn {
      width: 350px;
      height: 66px;
      background: wheat;
      border-radius: 10px;
      margin-top: 53px;
    }
  }
}

.community {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 360px 360px 360px;
  gap: 20px;

  .community-item {
    background: rgb(182, 173, 139);
    width: 100%;

    .community-item-right {
      margin-left: 20px;
    }

    .community-img {
      width: 95px;
      height: 95px;
      background: rgb(168, 167, 164);
    }

    .image-container {
      display: flex;
    }

    .community-text {
      display: block;
      width: 256px;
      height: 25px;
      background: rgb(73, 70, 59);
    }

    .community-heading {
      display: block;
      width: 180px;
      height: 30px;
      background: rgb(77, 73, 57);
      margin-top: 20px;
    }

    .communitypar {
      display: block;
      width: 220px;
      height: 20px;
      background: rgb(70, 67, 59);
      margin: 15px 0 0 160px;
    }
  }
}

.guide {
  display: grid;
  border: 2px solid black;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 980px;
  width: 100%;
  height: 1500px;
  grid-gap: 20px;
  margin-bottom: 100px;
}

.javascript-guide {
  display: flex;
  flex-direction: column;
  border: 2px solid olivedrab;
  width: 700px;
  height: 100%;
  border-radius: 15px;
  padding-left: 50px;
}

.newsletter-guide {
  height: 100%;
  width: 700px;
  border: 2px solid blueviolet;
  border-radius: 10px;
  padding-left: 50px;
}

.guide-content {
  height: 19px;
  width: 206px;
  border: 2px solid hotpink;
  margin-top: 10px;
  margin-bottom: 20px;
}

.guide-heading {
  height: 90px;
  width: 265px;
  border: 2px solid yellowgreen;
  margin-bottom: 50px;
}

.guide-paragraph {
  border: 2px solid rebeccapurple;
  display: inline-block;
  width: 410px;
  height: 23px;
  margin-bottom: 5px;
}

.guide-button {
  width: 409px;
  height: 65px;
  background: rgb(78, 78, 77);
  margin-top: 40px;
}

.guide-image {
  display: block;
  background: rgb(121, 122, 120);
  width: 338px;
  height: 290px;
  border-radius: 50%;
  margin: 0 auto;
}

// FOOTER
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 650px;
  background: rgb(188, 190, 185);
}

.footer-heading {
  display: block;
  background: rgb(51, 53, 49);
  width: 357px;
  height: 22px;
  margin-top: 65px;
  margin-bottom: 50px;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(51, 53, 49);
  width: 1270px;
  height: 189px;
}

.footer-links {
  display: block;
  background: rgb(168, 172, 165);
  width: 148px;
  height: 25px;
  margin-left: 20px;
}

.footer-paragraph {
  display: block;
  width: 416px;
  height: 103px;
  margin-top: 84px;
  margin-bottom: 33px;
}

.fp {
  display: block;
  background: rgb(119, 121, 117);
  width: 393px;
  height: 21px;
  margin-bottom: 10px;
}

.finalbottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(51, 53, 49);
  width: 800px;
  height: 150px;
}

.finalbottomlinks {
  display: block;
  background: rgb(139, 145, 133);
  width: 100px;
  height: 25px;
  margin-left: 20px;
}

//EFFECTS

.bgrone {
  background-color: rgb(98, 100, 96);
}

.bgr2 {
  background-color: rgb(110, 112, 107);
}

.bgr3 {
  background-color: rgb(66, 70, 63);
}

.bgr4 {
  background: rgb(84, 87, 81);
}

.trans {
  transform: rotate(-20deg);

  &:hover {
    transform: none;
  }
}

.fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  background: #3b3636;
  color: aliceblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: white;
}